.header-top__support{color:#fff;}

.header-top__support span a{padding: 0 8px ;color:#fff;}
.header-top__support{position: relative;}
.header-top__support::before {
    content: "";
  position: absolute;
  left: -17px;
  top: -18px;
  bottom: 0;
  width: 2px;
  background: #fff;
  transform: rotate(41deg);
  transform-origin: top left;
  height: 75px;
  
  }
  .globe{color: transparent;
    max-width: 150px;
    position: absolute;
    right: 134px;
    top: -100px; animation: animationglob 50s cubic-bezier(1,.99,.03,.01) infinite;}
    .relative{position: relative; }

    /* .tp-about__area {background-image: url(../../assets/img/about/why_bg_2.webp);} */
    .about-img{border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border: solid 5px #fff;
        box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.2);}






.tp-service__area{background-image: url(../../assets/img/service/Service.svg);}

.service-title{position: absolute;transform: rotate(-90deg);
    left: -28%;
    color: RGBA(21, 24, 27, 0.03);
    font-size: 160px;
    top: 50%;
    font-weight: 700;}

    .about-home{background-image: url(../../assets/img/about/shape.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 50% auto;}

        header{box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.04);}




        .about-company{background-image: url('../img/../img/about/AboutUs.jpg'); background-size: cover; padding: 100px 0;background-position: center;}
.about-box{padding: 30px 30px 30px 30px;  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.15); transition: all .5s;border-radius: 5px; background-color: #266544;


}

.about-box h2{font-size: 25px;  color: #FFFFFFB5;  margin: 0px 0px 0px 0px;  padding: 0px 0px 0px 0px;}
.about-box p{color: #FFFFFFBD; line-height: 28px;
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;text-align: justify;}

.about-box:hover{background-color: #00000087;}




.hover-bx{
    border-style: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.41);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 10px;border-radius: 5px 5px 5px 5px;




 
  }

  .hover-bx .box-inner{padding: 5px;box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);}
  .hover-bx .box-wrap{ display: flex;
  padding: 35px;
  background-color: #fff;;
  border-radius: var(--border-radius-box);
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;



 
     
}

  .hover-bx .box-wrap h3{font-size: 18px;
  font-style: italic; line-height: 1.4; font-weight: 400;}

.hover-bx  h6{text-align: right;color: #41465A;font-size: 18px;}
.hover-bx  .icon i{font-size: 40px;
      margin-right: 25px;color: #41465A;}






     .hover-bx:hover .box-inner{background-color: #266544;
   
    
    }
    .hover-bx:hover h3, .hover-bx:hover h6,    

 .hover-bx:hover .icon i{color: #fff;}

 .fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.6s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.offering-sec{
    z-index: 5;
position: relative;
.offering-title{display: flex;align-items: center;
    .icon{width: 50px; margin-right: 10px;flex: 0 0 auto;}
    .title-text{font-size:21px; line-height: 28px;}

}
.card-body{padding: 0;}

}



.iq-service-box {
    text-align: left;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    border-style: none;
    border-radius: 0px 0px 10px 10px;
    padding: 30px 30px 30px 30px;height: 100%;
  
    .service-description{margin: 15px 0;line-height: 28px;}
   
  
    .compact.service-description {
    
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical; 
    
  }
  
  
  }
  .iq-service-box::after {
    content: "";
  
    position: absolute;
  
    top: 0;
  
    left: 0;
  
    width: 0;
  
    height: 6px;
  
    background-color: #f1952d;
  
    -webkit-border-radius: var(--border-radius-box);
  
    border-radius: var(--border-radius-box);
  
    transition-property: left right;
  
    transition-duration: 0.9s;
  
    transition-timing-function: ease-out;
  
  }
  .iq-service-box::before {
    border-radius: 0;
  }
  
  .iq-service-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #266544;
   
    transition-property: left right;
    transition-duration: 0.9s;
    transition-timing-function: ease-out;
  }
  
  .iq-service-box:hover::after {
    width: 100%;
  }
  
  
  /*=====================
  new-button
  ==========================*/
  .iq-button-animated, .rs-button-animated {
      display: inline-flex;
      align-items: center;
      border: none;
      background:#266544;
      font-size: var(--font-size-normal);
      border-radius: var(--border-radius-box);
      -webkit-border-radius: var(--border-radius-box);
      padding: 12px 24px;
      color: #fff;;
      letter-spacing: var(--letter-spacing-one);
      font-weight: var(--font-weight-regular);
      text-transform: capitalize;
      position: relative;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
  }
  
  .iq-button-animated .btn_text, .rs-button-animated .btn_text {
      color: #fff;;
  }
  
  .iq-button-animated:hover,
  .iq-button-animated:hover .btn_text .rs-button-animated:hover,
  .rs-button-animated:hover .btn_text {
      color: #fff;;
  }
  
  .iq-button-animated .btn_text-main, .rs-button-animated .btn_text-main {
      display: inline-block;
      position: relative;
      overflow: hidden;
      line-height: var(--font-line-height-h5);
  }
  
  .iq-button-animated .btn_text-main .btn_text.one, .rs-button-animated .btn_text-main .btn_text.one {
      position: relative;
      display: inline-block;
      transform: translateY(0);
      transition: transform .3s ease-out .15s;
  }
  
  .iq-button-animated:hover .btn_text-main .btn_text.one, .rs-button-animated:hover .btn_text-main .btn_text.one {
      transform: translateY(100%);
      transition: transform .3s ease-out;
  }
  
  .iq-button-animated .btn_text-main .btn_text.two, .rs-button-animated .btn_text-main .btn_text.two {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      transition: transform .3s ease-out;
  }
  
  
  .iq-button-animated:hover .btn_text-main .btn_text.two, .rs-button-animated:hover .btn_text-main .btn_text.two {
      transform: translateY(0);
      transition: transform .3s ease-out .15s;
  }
  
  .iq-button-animated .btn-icon, .rs-button-animated .btn-icon {
      margin-left: 8px;
  }
  
  .iq-button-animated .btn-icon svg line, .rs-button-animated .btn-icon svg line {
      stroke-dashoffset: 0;
      stroke-dasharray: 10;
      transition: stroke-dashoffset .6s ease-out;
  }
  
  .iq-button-animated:hover .btn-icon svg line, .rs-button-animated:hover .btn-icon svg line {
      stroke-dashoffset: 20;
  }
  /*=====================
  new-link-button
  ==========================*/
  .iq-button-animated.linked-btn, .rs-button-animated.linked-btn {
      position: relative;
      padding: 0;
      background: transparent;
      color:#266544;
  }
  
  .iq-button-animated.linked-btn:hover, .rs-button-animated.linked-btn:hover {
      background: transparent;
  }
  
  .iq-button-animated.linked-btn .btn_text, .rs-button-animated.linked-btn .btn_text {
      color:#266544;
  }
  
  .iq-button-animated.linked-btn:hover .btn_text, .rs-button-animated.linked-btn:hover .btn_text {
      color:#266544;
  }
  
  .iq-button-animated.linked-btn .btn-icon svg line, .rs-button-animated.linked-btn .btn-icon svg line {
      stroke:#266544;
  }
  .btn-icon {
      transition: transform 0.3s ease-out;
  }
  
  .first {
      transition: transform 0.3s ease-out;
      opacity: 1;   /* Ensures it's visible initially */
      visibility: visible; /* Ensures it can be interacted with */
  }
  
  .second {
      transition: opacity 0.3s ease-out, visibility 0.3s ease-out; /* Add opacity and visibility transitions */
      opacity: 0;    /* Hidden initially */
      visibility: hidden; /* Hidden initially */
  }
  
  .iq-button-animated.linked-btn:hover .btn-icon .first {
      opacity: 0; display: none;
      visibility: hidden;
  }
  
  .iq-button-animated.linked-btn:hover .btn-icon .second {
      opacity: 1;
      visibility: visible;
  }
  

  .team-bg{ padding: 35px 0;background-position: center bottom; position: relative;overflow: hidden;
    background-image: url('../../assets/img/bg/why_bg_1-1.png');
  }
   
  
  .team-bg .team-wrap{
  background-color: #fff; border-radius: 10px;
        border: solid 1px #ccc; padding: 15px;  
    }
    .text-justify{text-align: justify;}
  
   .team-bg .team-wrap  .team-inner{
        
  
     
        
  
      }
  
   .team-bg .team-wrap .team-inner .team-photo{}
    .team-bg .team-wrap  .team-inner .team-details{
         
  
        }
  
         .team-bg .team-wrap  .team-inner .team-details  h2{font-size: 20px; margin: 0; font-weight: 600;padding: 15px 0 0;
    text-align: center;}
  .team-bg .team-wrap  .team-inner .team-details  .designation{text-align: center; margin-bottom: 0; margin-top: 10px;}
    .tp-hero-left-shape{width: 440px;}
    /* styles/globals.css */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .tp-about__list.list-flex ul li{width: 100%;}
  .page-bg{position: relative; width: 100%; }
.page-bg::before, .page-bg::after{content: '';z-index: -1;  background-size: auto;  background-repeat: no-repeat;  height: 100%;  display: block;  opacity: .5;  width: 100%;  position: absolute; }

  .page-bg::before{content: '';background-image: url("../../assets/img/about/comparison-plan-before.png"); left: 0;}

  .page-bg::after{content: '';background-image: url("../../assets/img/about/comparison-plan-after.png"); right: -85%;
  top: 0;}

  .title {
    color: var(--tp-common-green);
    font-size: 28px;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }


  .service-content p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    padding-bottom: 0;
  }

  .home-services img{border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border: solid 4px #fff;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.22);}



   
    





    
.about-us-image{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: end;
	gap: 30px;
	margin-right: 20px;
}

.about-image-box{
	width: calc(50% - 15px);
}

.about-img-2{
	margin-bottom: 30px;
}

.about-img-1 figure,
.about-img-2 figure,
.about-img-3 figure{
	display: block;
	border-radius: 30px;
}

.about-img-1 img,
.about-img-2 img,
.about-img-3 img{
	width: 100%;
	object-fit: cover;
	border-radius: 30px;
}

.about-img-1 img{
	aspect-ratio: 1 / 1.91;
}

.about-img-2 img,
.about-img-3 img{
	aspect-ratio: 1 / 1.07;
}

.get-free-security-circle{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	z-index: 1;
}

.get-free-security-circle img{
	width: 100%;
	max-width: 166px;
	animation: infiniterotate 20s infinite linear;
}

@keyframes infiniterotate{
	from{
		transform: rotate(0deg);
	  }
	to{
		transform: rotate(360deg);
	}
}

.about-us-body{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
	border-radius: 100px;
	margin-bottom: 50px;
	margin-left: 20px;
	padding-right: 20px;
}

.about-us-body-img{
	width: 200px;
	height: 145px;
	background-color: #fff;;
	clip-path: polygon(45% -70%,96% 50%,50% 155%,0 50%);
	display: flex;
	margin-right: 10px;
	margin-left: -20px;
}

.about-us-body-img figure{
	width: 180px;
	height: 145px;
	clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
	overflow: hidden;
}

.about-us-body-img img{
	width: 180px;
	height: 145px;
}

.about-us-body-content{
	width: calc(100% - 190px);
}

.about-us-body-content h3{
	color: #fff;;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.about-us-body-content p{
	color: #fff;;
	margin: 0;
}
.image-anime:after{
	content: "";
	position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255,255,255,.3);
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: 1;
}

.image-anime:hover:after{
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}

.reveal{
	position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    visibility: hidden;
    overflow: hidden;
}
.reveal img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform-origin: left;
  transform-origin: left;
}

.contact-details .icon-wrap{background-color: #266544;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;}
  .contact-details svg {
    color: #fff;
  }

  .contact-details {
    height: 100%;
    background-color: #fafbfe;
  }

  .text-white .breadcrumb__list span.child-one,   .text-white .breadcrumb__list span ,   .text-white .breadcrumb__content .dvdr i{color: #fff;}
  ul.inline-list li{width: 50%; display: inline-block;}

  .play_btn {
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 58px;
    background: #ff3838;
    color: #fff;
    font-size: 16px;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    top: -80px;
  right: -164px;
  }
  
  .play_btn {
    background: #6865ff;
    color: #fff;
    z-index: 9;
    width: 75px;
    height: 75px;
    line-height: 78px; cursor: pointer;
  }
  
  .play_btn:hover {
    color: var(--colorBlack);
  }
  
  .play_btn::after {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: play_btn_animi linear 1s infinite;
    -webkit-animation: play_btn_animi linear 1s infinite;
  }
  .play_btn::after {
    background: #6865ff;
  }
  @keyframes play_btn_animi {
    from {
      transform: scale(1);
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
  
    to {
      transform: scale(2);
      opacity: 0;
      -webkit-transform: scale(2);
      -moz-transform: scale(2);
      -ms-transform: scale(2);
      -o-transform: scale(2);
    }
  }
  .products-info{position: absolute;
    background: #fff;
    padding: 5px 16px;
    border-radius: 10px;
    right: 37px;
    top: -15px;
    font-size: 12px;
    border: solid 1px #faeaef;}

    .home-bg{background-image: url(../img/bg/tech_shape_1.png); background-repeat: no-repeat;background-position: center right;}
    /* .customers-bg{background-image: url(../img/bg/bg-11.jpg); background-repeat: no-repeat;background-position: top left;} */

    .tp-footer__widget-title{position: relative; padding-bottom: 15px; margin-bottom: 15px;}


    .tp-footer__widget .tp-footer__widget-title::before {
      content: '';
      height: 2px;
      width: 100px;
      background-color: green;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .tp-footer__widget .tp-footer__widget-title::after {
      content: '';
      height: 10px;
      width: 10px;
      background-color: #fff;
      position: absolute;
      bottom: -4px;
      left: 96px;
      border-radius: 99px;
      border: 2px solid Green;
    }

    .mou{color: transparent;
      display: flex;
      max-width: 445px;
      margin: auto;}


      @media only screen and (min-width: 1200px) and (max-width: 1300px){

        .globe{
  max-width: 100px;
  right: 230px;
  top: -45px;}

  .header-bottom__main-menu nav ul li{margin: 0px 10px;font-size: 14px;}

      }

    .tp-service__item:hover .tp-service__icon img{-webkit-transform: scale(-1) rotate(180deg);
  -ms-transform: scale(-1) rotate(180deg);
  transform: scale(-1) rotate(180deg); }



      .postbox__comment-input input:not(:focus):valid ~ .floating-label{top: 0;}

      

      .tp-service__item::before, .tp-service__item::after {
  content: '';
  position: absolute;
  height: 110px;
  width: 110px;
  background-color:#266544;
  opacity: .6;
  border-radius: 50%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  z-index: -1;
}
.tp-service__item{padding: 40px;
  position: relative;
  z-index: 2;
  box-shadow: 0 10px 30px rgb(8 14 28 / .06);
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;}
.tp-service__item{bottom: -73px;
  right: -28px;}

  
.service-card::after {
  right: -73px;

  bottom: -28px;

}

.service-card::before {
  bottom: -73px;
  right: -28px;
}




















.job-post-time svg{width: 70px;}

.service-card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-bottom: 0;
}



.shape-icon {
  position:relative;
  z-index:2;
  width:90px;
  height:85px;
  line-height:85px;
  text-align:center
}
.shape-icon:before {
  content:'';
  position:absolute;
  inset:0;
  background-color:var(--tp-common-light-orange);;
  -webkit-clip-path:path("M4.76563 19.2144C-2.32686 32.07 -1.20075 48.6639 6.14105 61.3767C16.4024 79.1459 38.9816 89.016 58.6174 83.4451C78.2532 77.8741 92.5688 56.7417 89.6127 36.3982C84.2306 -0.647078 23.3991 -14.559 4.76563 19.2144Z");
  clip-path:path("M4.76563 19.2144C-2.32686 32.07 -1.20075 48.6639 6.14105 61.3767C16.4024 79.1459 38.9816 89.016 58.6174 83.4451C78.2532 77.8741 92.5688 56.7417 89.6127 36.3982C84.2306 -0.647078 23.3991 -14.559 4.76563 19.2144Z");
  z-index:-1;
  -webkit-transition:0.4s ease-in-out;
  transition:0.4s ease-in-out
}
.shape-icon .dots:before,
.shape-icon .dots:after {
  content:'';
  position:absolute;
  background-color:#266544;
  height:24px;
  width:23px;
  border-radius:50%
}
.shape-icon .dots:before {
  top:0;
  right:9px
}
.shape-icon .dots:after {
  height:12px;
  width:11px;
  bottom:0;
  left:27px
}
.service-featured {
  text-align:center;
  position:relative;
  z-index:2
}
.service-featured:before {
  content:'';
  height:180px;
  width:100%;
  background-color:#ccc;
  position:absolute;
  top:50%;
  left:0;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
  border-radius:10px;
  z-index:-1;
  -webkit-transition:0.4s ease-in-out;
  transition:0.4s ease-in-out
}
.service-featured .shape-icon {
  margin:0 auto 30px auto
}
.service-featured .icon-btn {
  border-radius:99px;
  background-color:#266544;
  box-shadow:0 6px 20px rgb(0 96 255 / .5);
  border:none;
  color:#fff;;
  position:absolute;
  bottom:-28px;
  left:calc(50% - 28px)
}
.service-featured .icon-btn:hover {
  background-color:#fff;;
  color:#266544
}
.service-featured_content {
  background-color:#fff;;
  max-width:312px;
  box-shadow:0 10px 30px rgb(8 14 28 / .06);
  border-radius:10px;
  margin-left:auto;
  margin-right:auto;
  padding:40px 15px 28px 15px;
  margin-bottom:28px
}
.service-featured_text {
  max-width:255px;
  margin:0 auto 31px auto
}
.service-card {
  padding:40px;
  position:relative;
  z-index:2;
  box-shadow:0 10px 30px rgb(8 14 28 / .06);
  background-color:#fff;;
  border-radius:10px;
  overflow:hidden;
  -webkit-transition:0.4s ease-in-out;
  transition:0.4s ease-in-out; margin-bottom: 25px;
}
.service-card:before,
.service-card:after {
  content:'';
  position:absolute;
  height:110px;
  width:110px;
  background-color:#266544;
  opacity:.6;
  border-radius:50%;
  -webkit-transition:0.4s ease-in-out;
  transition:0.4s ease-in-out;
  z-index:-1
}
.service-card:before {
  bottom:-73px;
  right:-28px
}
.service-card:after {
  right:-73px;
  bottom:-28px
}
.service-card .shape-icon {
  margin-bottom:30px
}
.service-card .box-title a:hover {
  color:var(--tp-common-light-orange);
}
.service-card .bg-shape {
  position:absolute;
  bottom:-200px;
  left:0;
  width:100%;
  opacity:0;
  -webkit-transition:0.4s ease-in-out;
  transition:0.4s ease-in-out;
  pointer-events:none
}
.service-card .bg-shape img {
  width:100%
}
.service-card_number {
  position:absolute;
  top:25px;
  right:40px;
  font-size:100px;
  line-height:1;
  font-weight:700;
  color:var(--tp-common-light-orange);;
  opacity:.3
}
.service-card_text {
  -webkit-transition:0.4s ease-in-out;
  transition:0.4s ease-in-out;
  margin-bottom:22px
}


.service-card:hover {
  width:100%
}
.service-card:hover:before,
.service-card:hover:after {
  opacity:1;
  height:120%;
  width:120%;
  border-radius:0
}
.service-card:hover .shape-icon:before {
  background-color:#fff;
}
.service-card:hover .bg-shape {
  bottom:0;
  opacity:1
}
.service-card:hover .box-title {
  color:#fff;
}
.service-card:hover .th-btn {
  background-color:#fff;
}
.service-card:hover .service-card_text {
  color:#fff;
}
.service-sec {
  background-size:auto;
  background-position:top center;
  background-color:var(--tp-common-light-orange);
}
@media (max-width:375px) {
  .service-card {
    padding:40px 30px
  }
}

.box-title{font-size: 22px;}

.service-card:hover .tp-btn{background-color: #fff;color: #266544;}
.meta-icon{position: absolute;max-width: 70px;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}
  .team-intro{border: solid 1px #ccc; padding: 15px; border-radius: 15px;height: 100%;
  h5{color: rgba(0, 0, 0, 0.7);}
  }

  .team-member{
    border: solid 1px #ccc;position: relative;
  border-radius: 10px;
  padding: 0px;box-shadow: 0 0 18px 0px rgba(0, 0, 0, 0.09); margin-bottom: 20px;

    .team-name{height: 100%;align-items: center;position: relative; overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;}
    .team-desc{ 

      p{margin-bottom: 0; padding: 30px 0;}
    }
  }

  .tp-hand{position: absolute;
  left: -100px;
  transform: rotateY(-180deg);
  top: 0;}
  .tp-circle{position: absolute;
  left: 140px;
  top: 0;animation: animationglob 50s cubic-bezier(1, 0.99, 0.03, 0.02) infinite;}



   .team-name::before, .team-name::after{content: "";
  position: absolute;
 width: 80px;
  height: 191px;
  z-index: 3;
  display: block;
  border-radius: 18px;
  opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  filter: alpha(opacity=0);
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;}

    .team-name::before{transform: rotateZ(42.33deg);
  background: linear-gradient(111.8deg,rgb(130, 54, 251) 21.93%,rgb(7, 110, 244) 90.29%);
  top: -112px;
  left: 30px;
  opacity: 0.05;}

   .team-name::after{right: -70px;
  bottom: -5px;
  opacity: 0.05;transform: rotateZ(42.33deg);
  background: linear-gradient(111.8deg,rgb(130, 54, 251) 21.93%,rgb(7, 110, 244) 90.059%);}


  /* .team-desc{background: url("../img/service/shape-11.png");} */
  .team-member::before{position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(236, 242, 255, 0.68);
  z-index: -1;}

.hover-bx .box-wrap:hover{background-color: #266544;}
.tp-footer__widget{font-size: 15px;}




@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .globe {
        max-width: 112px;
    position: absolute;
    right: 80px;
    top: -5%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
   .globe {
        max-width: 95px;
    position: absolute;
    right: 80px;
    top: 20%;
    }

.header-top__support::before {
    content: "";
    position: absolute;
    left: -22px;
    top: -24px;
    bottom: 0;
    width: 2px;
    background: #fff;
    transform: rotate(24deg);
    transform-origin: top left;
    height: 78px;
}



}



  
        @media (max-width: 767px) {

.globe{max-width: 52px;
    position: absolute;
    right: 50px;
    top: -60px;}
  .mou{
      max-width:100%;
      margin: auto;}

      .tp-hand{max-width: 165px;left: -85px;top: -25px;}
      .tp-circle{left: 70px;width: 40px;}


      h5, .h5 {
  font-size: 18px;
}
h4, .h4 {
  font-size: 18px;
}
h2, .h2 {
  font-size: 20px;
}
.about-company{padding: 45px 0;}
.about-box{padding: 15px;}
.about-box p{line-height: 1.4;font-size: 15px;}
.hover-bx .box-wrap{flex-direction: column;padding: 15px;}

/* .sv-details-text ul > li{padding-left: 0px;} */
.sv-details-text ul > li ul li{padding-left: 25px;}

.team-member{  padding: 15px;  }

    .tp-hero-bg {
        width: 100%;
        left: 0;
        top: 0;
    }
.tp-hero-bg img{  top: -44vw;}

        }


          @media (max-width: 400px) {   
.tp-hero-bg img{  top: -11%;}

            }
          